@use './reset.scss' as *;
@use './element-plus.scss' as *;


// 滚动条外观设计
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #c217ff, #ff2d75);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #a612e0, #e3266d);
}

::-webkit-scrollbar-track {
  background-color: #f9f9f9;
}
